body {
    text-align: center;
    background-color: black;
    font-family: 'Metamorphous', cursive;
}
h1, h3 {
    color: white;
}
h1 {
    font-size: 400%;
}
h3 {
    font-size: 200%;
}
h2 {
    padding: 1.5% 0;
    margin: 1% auto;
    border-radius: 50vh;
    min-width: 500px;
    max-width: 1000px;
    height: 15%;
    font-size: 250%;
    /* transition: 150ms cubic-bezier(.81, .29, .06, .94); */
}
p {
    margin-top: 0;
    margin-bottom: 0;
}
