:root {
    --primary-bg-color: black;
    --primary-font-color: white;
}
body {
    display: grid;
    grid-template-columns: 0.5fr 9fr 0.5fr;
    text-align: center;
    background-color: var(--primary-bg-color);
    font-family: 'Playfair Display', serif;
}
h1, h3 {
    color: var(--primary-font-color);
}
h1 {
    font-size: 400%;
}
h3 {
    font-size: 200%;
}
#col2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: stretch;
    align-content: stretch;
}
.frame {
    display: flex;
    flex-direction: row;
    justify-content: right;
    height: 120px;
    margin-bottom: 20px;
}
.colorBox {
    height: 100%;
    width: 100%;
}
.infoFrame {
    width: 50%;
    height: 100%;
    padding: 0 20px;
    margin: 0;
    text-align: left;
    font-size: 30px;
    color: var(--primary-font-color);
    background-color: var(--primary-bg-color);
    /* transition: 150ms cubic-bezier(.81,.29,.06,.94); */
}
